.addemployees-Container {
    display: flex;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    position: fixed;
}

.addemployee-Form {
    display: flex;
    height: 70%;
    width: 70%;
    justify-content: center;
    align-items: center;
    margin-bottom: 150px;
    gap: 10px;
}

.addemployee-div {
    margin-top: 20px;
}

.addemployee-Form form {
    width: 75%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 90px;
}
.addemployee-Form h2{
    margin-left: 30%;
    margin-bottom: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.addemployee-input {
    width: 100%;
    height: 80%;
    padding-left: 10px;
    font-size: large;
    color: black;
    padding-top: 10px;
    padding-bottom: 10px;
    /* margin-top: 5%; */
    border-radius: 50px;
    opacity: 0.6;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.addemployee-Form .addemployee-input:focus {
    outline-color:  #e2d3ea;
    background: #e2d3ea;
    box-shadow: inset 20px 20px 60px  #e2d3ea,
        inset -20px -20px 60px #e2d3ea;
    transition: 0.3s;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }

/* .Empsubmit-btn {
    height: 50px;
    width: 150px;
    border: none;
    background-color: #BFACC8;
    margin-left: 38%;
    margin-top: 15px;
    border-radius: 50px;
    margin-bottom: 20px;
    font-size: large;
} */
.Empsubmit-btn {
    padding: 15px 20px;
    font-size: 16px;
    background: transparent;
    border: none;
    position: relative;
    height: 50px;
    width: 150px;
    z-index: 1;
    margin-top: 40px;
    margin-left: 38%;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  
  .Empsubmit-btn::after,
  .Empsubmit-btn::before {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -99999;
    transition: all .4s;
  }
  
  .Empsubmit-btn::before {
    transform: translate(0%, 0%);
    width: 100%;
    height: 100%;
    background: #BFACC8;
    border-radius: 50px;
  }
  
  .Empsubmit-btn::after {
    transform: translate(10px, 10px);
    width: 35px;
    height: 35px;
    background: #ffffff15;
    backdrop-filter: blur(5px);
    border-radius: 50px;
  }
  
  .Empsubmit-btn:hover::before {
    transform: translate(5%, 20%);
    width: 110%;
    height: 110%;
  }
  
  .Empsubmit-btn:hover::after {
    border-radius: 10px;
    transform: translate(0, 0);
    width: 100%;
    height: 100%;
  }
  
  .Empsubmit-btn:active::after {
    transition: 0s;
    transform: translate(0, 5%);
  }