.addholiday-Container{
    display: flex;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    position: fixed;
}

.addholiday-Form{
  display: flex;
  height: 70%;
  width: 70%;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  gap: 10px;
}
.addholiday-div{
  margin-top: 20px;
}
.addholiday-Form form{
  width: 60%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.addholiday-Form h2{
  margin-left: 28%;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.addholiday-input{
    width: 80%;
    height: 80%;
    padding-left: 10px;
    font-size: large;
    color: black;
    padding-top: 10px;
    padding-bottom: 10px;
    /* margin-top: 5%; */
    border-radius: 50px;
    opacity: 0.6;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.addholiday-Form .addholiday-input:focus {
  outline-color:  #e2d3ea;
  background: #e2d3ea;
  box-shadow: inset 20px 20px 60px  #e2d3ea,
      inset -20px -20px 60px #e2d3ea;
  transition: 0.3s;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.addholiday-button{
  height: 50px;
  width: 150px;
  border: none;
  background-color: #BFACC8;
  margin-left: 30%;
  margin-top: 15px;
  border-radius: 50px;
  margin-bottom: 20px;
  font-size: large;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

  