.applyleave-Container {
    display: flex;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    position: fixed;
}

.applyleave-Form {
    display: flex;
    height: 70%;
    width: 70%;
    justify-content: center;
    align-items: center;
    /* background-image: url('../img/istockphoto-843814242-170667a.jpg');
    background-size: cover; */
    margin-bottom: 50px;
    gap: 10px;
}

.applyleave-Form h2 {
    margin-left: 28%;
}

.applyleave-divs {
    margin-top: 20px;
}

.applyleave-Form form {
    width: 60%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 90px;
}

.applyleave-Form .applyform-input {
    width: 80%;
    height: 80%;
    padding-left: 10px;
    font-size: large;
    color: black;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 50px;
    opacity: 0.6;
    /* background: #e8e8e8; */
    /* box-shadow: 20px 20px 60px #c5c5c5,
           -20px -20px 60px #ffffff; */
    transition: 0.3s;
}


.applyleave-Form .applyform-input:focus {
    outline-color:  #e2d3ea;
    background: #e2d3ea;
    box-shadow: inset 20px 20px 60px  #e2d3ea,
        inset -20px -20px 60px #e2d3ea;
    transition: 0.3s;
}

.sub-button {
    height: 50px;
    width: 150px;
    border: none;
    background-color: #BFACC8;
    margin-left: 30%;
    margin-top: 15px;
    border-radius: 50px;
    margin-bottom: 20px;
    font-size: large;
}

.sub-button:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.sub-button:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.sub-button::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}

.sub-button::after {
    background-color: #fff;
}

.sub-button:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}