.HRProfile {
    display: flex;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    position: fixed;
}

.HRProfile-content{
    display: flex;
    flex-direction: column;
    width: 95%;
    height: 600px;
    background-color: #dddddd;
    /* border-radius: 40px; */
    box-shadow: 0 14px 28px rgb(126, 126, 200);
    gap: 5px;
}

.HrProfile-header {
    background-color:#BFACC8;
    height: 25%;
    width: 100%;
    /* border-radius: 30px 30px 0 0; */
}


.HrProfile-header h3{
    margin-left: 45%;
    margin-top: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


.HrProfile-header h4 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    margin-left: 230px;
    margin-top: 50px;
    /* margin-bottom: -7%; */
}
.HRinfo {
    margin-bottom: 15%;
    height: 25%;
    width: 100%;
}
.HRinfo h5 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-left: 230px;
    margin-top: -25px;
    margin-bottom: 30px;
}

.HrProfile-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    position: absolute;
    margin-top: 10px;
    left: calc(10% - 80px);
}
.HR-div{
    margin-top: -17%;
    /* height: 25%; */
    width: 100%;
}
.HR-div p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-left: 30px;
    margin-bottom: 30px;
    margin-top: -10px;
}