.Manager-Profile{
    /* display: flex; */
    height: 100vh;
    width: 98vw;
    justify-content: center;
    /* position: fixed; */
    /* flex-direction: column; */
}
.managerProfile-Container{
    display: flex;
    flex-direction: column;
    width: 95%;
    height: 600px;
    background-color: #dddddd;
    /* border-radius: 40px; */
    box-shadow: 0 14px 28px rgb(126, 126, 200);
    margin-left: 50px;
}

.managerProfile-header{
    background-color:#BFACC8;
    height: 25%;
    width: 100%;
    /* border-radius: 30px 30px 0 0; */
}   


.managerProfile-header h3{
    margin-left: 40%;
    margin-top: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


.managerProfile-header h4 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    margin-left: 230px;
    margin-top: 50px;
    /* margin-bottom: -7%; */
}
.managerinfo {
    margin-bottom: 15%;
    height: 25%;
    width: 100%;
}
.managerinfo h5 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-left: 230px;
    margin-top: -25px;
    margin-bottom: 30px;
}

.managerProfile-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    position: absolute;
    margin-top: 10px;
    left: calc(10% - 80px);
}
.manager-div{
    margin-top: -17%;
    /* height: 25%; */
    width: 100%;
}
.manager-div p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-left: 30px;
    margin-bottom: 30px;
    margin-top: -10px;
}
.Holiday-card {
    width: 100%;
    height: 300px;
    background: rgba(235, 232, 232, 0.58);
    box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
    border-radius: 17px;
    text-align: center;
    cursor: pointer;
    transition: all 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: justify;
    margin-bottom:20px;
    margin-right: 20px;
    margin-top: 40px;
}
h5{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
p {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.Holiday-card:hover {
    border: 1px solid white;
    transform: scale(1.05);
}

.Holiday-card:active {
    transform: scale(0.95) rotateZ(1.7deg);
}
.Holiday-div{
    margin-top: 5%;
}

.Holiday-div h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-left: 45%;
}